<!DOCTYPE html>
<html>
  <head>
  
    <meta charset="utf-8">
		<title>Dashboard</title>
        <link rel="stylesheet" href="/static/accounts.css">
	</head>
	
	<body>
		<section class="page-wrap">

			<header>
				<div>
					<span class="head"><h1>Account Details</h1></span>
					<p>All Accounts at one place.</p>
				</div>
			</header>

	  
			<article class="module-block" id="bank1-sec">
				<h2>BANK DETAILS</h2>
				<fieldset>
					<img class="center" id="bank1-logo" alt="" />
					<legend id="bank1-name"></legend>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label>ACCOUNT ID:</label></td>
								<td><input disabled class="fld" id="bank1-accountID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>EMAIL:</label></td>
								<td><input disabled class="fld" id="bank1-emailID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>AADHAR NO:</label></td>
								<td><input disabled class="fld" id="bank1-aadhaarNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>PAN NO:</label></td>
								<td><input disabled class="fld" id="bank1-panNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>MOBILE NO:</label></td>
								<td><input disabled class="fld" id="bank1-mobileNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>ADDRESS:</label></td>
								<td><input disabled class="fld" id="bank1-address" type="text"></td>
							</tr>
						</table>
					</div>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label >BALANCE:</label></td>
								<td><input disabled class="fld" id="bank1-balance" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD NO.:</label></td>
								<td><input disabled class="fld" id="bank1-dCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank1-dCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD NO:</label></td>
								<td><input disabled class="fld" id="bank1-cCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>CREDIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank1-cCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD BALANCE:</label></td>
								<td><input disabled class="fld" id="bank1-cCardBal" type="text"></td>
							</tr>
						</table>
					</div>
				</fieldset>
			</article>

			<article class="module-block" id="bank2-sec">
				<h2>BANK DETAILS</h2>
				<fieldset>
					<img class="center" id="bank2-logo" alt="" />
					<legend id="bank2-name"></legend>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label>ACCOUNT ID:</label></td>
								<td><input disabled class="fld" id="bank2-accountID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>EMAIL:</label></td>
								<td><input disabled class="fld" id="bank2-emailID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>AADHAR NO:</label></td>
								<td><input disabled class="fld" id="bank2-aadhaarNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>PAN NO:</label></td>
								<td><input disabled class="fld" id="bank2-panNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>MOBILE NO:</label></td>
								<td><input disabled class="fld" id="bank2-mobileNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>ADDRESS:</label></td>
								<td><input disabled class="fld" id="bank2-address" type="text"></td>
							</tr>
						</table>
					</div>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label >BALANCE:</label></td>
								<td><input disabled class="fld" id="bank2-balance" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD NO.:</label></td>
								<td><input disabled class="fld" id="bank2-dCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank2-dCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD NO:</label></td>
								<td><input disabled class="fld" id="bank2-cCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>CREDIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank2-cCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD BALANCE:</label></td>
								<td><input disabled class="fld" id="bank2-cCardBal" type="text"></td>
							</tr>
						</table>
					</div>
				</fieldset>
			</article>

			<article class="module-block" id="bank3-sec">
				<h2>BANK DETAILS</h2>
				<fieldset>
					<img class="center" id="bank3-logo" alt="" />
					<legend id="bank3-name"></legend>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label>ACCOUNT ID:</label></td>
								<td><input disabled class="fld" id="bank3-accountID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>EMAIL:</label></td>
								<td><input disabled class="fld" id="bank3-emailID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>AADHAR NO:</label></td>
								<td><input disabled class="fld" id="bank3-aadhaarNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>PAN NO:</label></td>
								<td><input disabled class="fld" id="bank3-panNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>MOBILE NO:</label></td>
								<td><input disabled class="fld" id="bank3-mobileNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>ADDRESS:</label></td>
								<td><input disabled class="fld" id="bank3-address" type="text"></td>
							</tr>
						</table>
					</div>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label >BALANCE:</label></td>
								<td><input disabled class="fld" id="bank3-balance" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD NO.:</label></td>
								<td><input disabled class="fld" id="bank3-dCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank3-dCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD NO:</label></td>
								<td><input disabled class="fld" id="bank3-cCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>CREDIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank3-cCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD BALANCE:</label></td>
								<td><input disabled class="fld" id="bank3-cCardBal" type="text"></td>
							</tr>
						</table>
					</div>
				</fieldset>
			</article>

			<article class="module-block" id="bank4-sec">
				<h2>BANK DETAILS</h2>
				<fieldset>
					<img class="center" id="bank4-logo" alt="" />
					<legend id="bank4-name"></legend>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label>ACCOUNT ID:</label></td>
								<td><input disabled class="fld" id="bank4-accountID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>EMAIL:</label></td>
								<td><input disabled class="fld" id="bank4-emailID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>AADHAR NO:</label></td>
								<td><input disabled class="fld" id="bank4-aadhaarNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>PAN NO:</label></td>
								<td><input disabled class="fld" id="bank4-panNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>MOBILE NO:</label></td>
								<td><input disabled class="fld" id="bank4-mobileNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>ADDRESS:</label></td>
								<td><input disabled class="fld" id="bank4-address" type="text"></td>
							</tr>
						</table>
					</div>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label >BALANCE:</label></td>
								<td><input disabled class="fld" id="bank4-balance" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD NO.:</label></td>
								<td><input disabled class="fld" id="bank4-dCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank4-dCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD NO:</label></td>
								<td><input disabled class="fld" id="bank4-cCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>CREDIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank4-cCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD BALANCE:</label></td>
								<td><input disabled class="fld" id="bank4-cCardBal" type="text"></td>
							</tr>
						</table>
					</div>
				</fieldset>
			</article>

			<article class="module-block" id="bank5-sec">
				<h2>BANK DETAILS</h2>
				<fieldset>
					<img class="center" id="bank5-logo" alt="" />
					<legend id="bank5-name"></legend>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label>ACCOUNT ID:</label></td>
								<td><input disabled class="fld" id="bank5-accountID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>EMAIL:</label></td>
								<td><input disabled class="fld" id="bank5-emailID" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>AADHAR NO:</label></td>
								<td><input disabled class="fld" id="bank5-aadhaarNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>PAN NO:</label></td>
								<td><input disabled class="fld" id="bank5-panNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>MOBILE NO:</label></td>
								<td><input disabled class="fld" id="bank5-mobileNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>ADDRESS:</label></td>
								<td><input disabled class="fld" id="bank5-address" type="text"></td>
							</tr>
						</table>
					</div>
					<div class="frm">
						<table>
							<tr>
								<td class="lbl"><label >BALANCE:</label></td>
								<td><input disabled class="fld" id="bank5-balance" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD NO.:</label></td>
								<td><input disabled class="fld" id="bank5-dCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >DEBIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank5-dCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD NO:</label></td>
								<td><input disabled class="fld" id="bank5-cCardNo" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label>CREDIT CARD EXPIRE:</label></td>
								<td><input disabled class="fld" id="bank5-cCardExp" type="text"></td>
							</tr>
							<tr>
								<td class="lbl"><label >CREDIT CARD BALANCE:</label></td>
								<td><input disabled class="fld" id="bank5-cCardBal" type="text"></td>
							</tr>
						</table>
					</div>
				</fieldset>
			</article>

	</body>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get("apiKey") == null || urlParams.get("apiKey") == "") {
            alert("Please login first");
            window.location.href = "/login";
        } else {
            fetch("http://127.0.0.1:8000/core/api/v1/account?apiKey="+urlParams.get("apiKey")).then((response) => {
                        response.json().then((data) => {
                            if(data.status === 200){
								var bankMap = {
									1: ["Bank of India", "/static/sbi (2).jpg"],
									2: ["Punjab National Bank", "/static/PNB-Logo.jpg"],
									3: ["Union Bank Of India", "/static/union-bank-of-india-1200x1200 (2).jpg"],
									4: ["Canara Bank", "/static/canara_bank_logo_stickers-600x315 (1).jpg"],
									5: ["Bank of Baroda", "/static/641909d6f37f5523a915b48a0a74a10c.jpg"],
								};
                                data.response.forEach((d) => {
									if(d.data == null) {
										document.getElementById("bank"+d.bankID+"-sec").style.display = "none";
									} else {
										document.getElementById("bank"+d.bankID+"-name").innerHTML = bankMap[d.bankID][0];
										document.getElementById("bank"+d.bankID+"-logo").src = bankMap[d.bankID][1];
										document.getElementById("bank"+d.bankID+"-accountID").value = d.data.accountID;
										document.getElementById("bank"+d.bankID+"-balance").value = d.data.balance;
										document.getElementById("bank"+d.bankID+"-aadhaarNo").value = d.data.aadhaarNo;
										document.getElementById("bank"+d.bankID+"-panNo").value = d.data.panNo;
										document.getElementById("bank"+d.bankID+"-mobileNo").value = d.data.mobileNo;
										document.getElementById("bank"+d.bankID+"-address").value = d.data.address;
										document.getElementById("bank"+d.bankID+"-emailID").value = d.data.emailID;
										document.getElementById("bank"+d.bankID+"-dCardNo").value = d.data.dCardNo;
										document.getElementById("bank"+d.bankID+"-dCardExp").value = d.data.dCardExp;
										document.getElementById("bank"+d.bankID+"-cCardNo").value = d.data.cCardNo;
										document.getElementById("bank"+d.bankID+"-cCardExp").value = d.data.cCardExp;
										document.getElementById("bank"+d.bankID+"-cCardBal").value = d.data.cCardBal;
									}
								});
                            } else {
                                alert(data.message);
                            }
                        });
                    }).catch((err) => {
                        alert("Error: " + err.message);
                    })
        }
        </script>
</html>