<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouFund | Login</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<style>
body{
    font-family: Inter !important;
}

.containers{
    max-width: 1440px;
}

.account .account-detail{
    max-width: 500px;
}
</style>
</head>

<body class='bg-gray-100' style="background-image:url(/static/slide2.png);background-size: 400%;">
    <nav class='bg-white top-0 z-10 text-lg font-semibold text-gray-700 tracking-tight sticky'>
        <div class='mx-auto containers py-6 flex justify-between'>
            <img class='w-32 block' src='/static/LogoMarkWithText.png'>    
            <ul class='flex'>
                <li><a href='/' class='md:ml-8'>Home </a></li>
                <li><a href='/' class='md:ml-8'>About </a></li>
                <li><a href='/' class='md:ml-8'>Customer Care </a></li>are </a></li>
                <li><a href='/loans' target="_new" class='md:ml-8 text-green-500'>Get Loans</a></li>
            </ul>
        </div>
    </nav>

    <div class="containers mx-auto my-24">
        <h2 class='font-bold text-white text-4xl text-center'>Login</h2>
        <form class="mt-8 text-center">
            <input type='number' placeholder="Enter Your Adhaar Number" class="px-4 border-2 py-3 w-96 inline-block" id="aadhaar-no"/> </br>
            <input type='number' placeholder="Enter the OTP" style="display: none" class="px-4 border-2 py-3 w-96 inline-block" id="otp-text"/> </br>
            <input type='button' onclick="sendOTP()" id="sendotp-btn" class='bg-green-500 text-white my-2 w-96 inline-block px-4 py-3' value="Send OTP">
            <input type='button' onclick="checkOTP();" id="checkotp-btn" style="display: none" class='bg-green-500 text-white my-2 w-96 inline-block px-4 py-3' value="Verify OTP">
        </form>
    </div>
</body>
<script>
    const sendOTP = () => {
        var el = document.getElementById("aadhaar-no");
        if(el.value.length === 12){
            fetch("http://127.0.0.1:8000/core/api/v1/auth?aadhaarNo="+el.value).then((response) => {
                response.json().then((data) => {
                    if(data.status === 200){
                        alert(data.message);
                        document.getElementById("otp-text").style.display = "";
                        document.getElementById("sendotp-btn").style.display = "none";
                        document.getElementById("checkotp-btn").style.display = "";
                    } else {
                        alert(data.message);
                    }
                });
            }).catch((err) => {
                alert("Error: " + err.message);
            })
        } else {
            alert("Please enter a valid aadhaar no.");
        }
    };

    const checkOTP = () => {
        var el = document.getElementById("aadhaar-no");
        var el2 = document.getElementById("otp-text");
        if(el.value.length === 12 && el2.value.length === 6){
            fetch("http://127.0.0.1:8000/core/api/v1/auth", {
                method: "POST",
                headers: {'Content-Type':'application/x-www-form-urlencoded'},
                body: "aadhaarNo=" + el.value + "&otp=" + el2.value,
		    }).then((response) => {
                response.json().then((data) => {
                    if(data.status === 200){
                        window.location.href = "/dashboard?apiKey="+data.response;
                    } else {
                        alert(data.message);
                    }
                });
            }).catch((err) => {
                alert("Error: " + err.message);
            })
        } else {
            alert("Please enter a valid aadhaar no.");
        }
    };
</script>
</html>
