<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouFund | Passbook</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: Inter !important;
        }
        
        .containers{
            max-width: 1440px;
        }
        
        .account .account-detail{
            max-width: 500px;
        }
        </style>
</head>

<body class='bg-gray-100'>
    <nav class='bg-white top-0 z-10 text-lg font-semibold text-gray-700 tracking-tight sticky'>
        <div class='mx-auto containers py-6 flex justify-between'>
            <img class='w-32 block' src='/static/LogoMarkWithText.png'>    
            <ul class='flex'>
                <li><a href='/' class='md:ml-8'>Home </a></li>
                <li><a href='/#about' class='md:ml-8'>About </a></li>
                <li><a href='/#customercare' class='md:ml-8'>Customer Care </a></li>
                <li><a href='/loans' target="_new" class='md:ml-8 text-green-500'>Get Loans</a></li>
            </ul>
        </div>
    </nav>

    <div class="containers mx-auto my-24">
        <h2 class='font-bold text-gray-800 text-4xl text-center'>Passbook</h2>
        <form class="mt-8 text-center">
            <select id="banks" class="px-4 border-2 py-3 w-96 inline-block">
                <option value="" selected disabled>Choose your bank</option>
                <option value="1">Bank of India</option> 
                <option value="2">Punjab National Bank</option>
                <option value="3">Union Bank of India</option>       
                <option value="4">Canara Bank</option>
                <option value="5">Bank of Baroda</option>
            </select>
          <br>
          <button type="button" onclick="getPassbook();" class='bg-green-500 text-white my-2 w-96 inline-block px-4 py-3'>SUBMIT</button>
        </form>
    </div>

    <div class="containers mx-auto my-24">
        <table class="border-collapse w-full mt-8">
            <thead>
                <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Time</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Trans. ID</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Sender ID</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Receiver ID</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Amount</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Sender Bank ID</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Receiver Bank ID</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Description</th>
                </tr>
            </thead>
            <tbody id="trans-data">
            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript">
const urlParams = new URLSearchParams(window.location.search);
if (urlParams.get("apiKey") == null || urlParams.get("apiKey") == ""){
    alert("Please login first");
    window.location.href = "/login";
}

const getPassbook = () => {
    var el = document.getElementById("banks");
    if(el.value === ""){
        alert("Please choose a bank first");
    } else {
        fetch("http://127.0.0.1:8000/core/api/v1/transactions?bankID="+ el.value +"&apiKey="+urlParams.get("apiKey")).then((response) => {
                response.json().then((data) => {
                    if(data.status === 200){
                        var trans_table = document.getElementById("trans-data");
                        trans_table.innerHTML = "";
                        for(var i in data.response) {
                            var _el = document.createElement("tr");
                            "bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0".split(" ").forEach((c)=>{
                                _el.classList.add(c);
                            });
                            var _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].time;
                            _el.appendChild(_el2);
                            _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].transID;
                            _el.appendChild(_el2);
                            _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].senderID;
                            _el.appendChild(_el2);
                            _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].receiverID;
                            _el.appendChild(_el2);
                            _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].amount;
                            _el.appendChild(_el2);
                            _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].sbankID;
                            _el.appendChild(_el2);
                            _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].rbankID;
                            _el.appendChild(_el2);
                            _el2 = document.createElement("td");
                            "w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static".split(" ").forEach((c)=>{
                                _el2.classList.add(c);
                            });
                            _el2.innerHTML = data.response[i].description;
                            _el.appendChild(_el2);
                            trans_table.appendChild(_el);
                        }
                    } else if(data.status === 403) {
                        alert("You don't have an account in this bank.");
                        windows.location.href = "/transactions?apiKey" + urlParams.get("apiKey");
                    }
                });
            }).catch((err) => {
                alert("Error: " + err.message);
            })
    }
};
</script>
</html>